
<div class="card text-center">
    <div class="card-header ">
        <h2>¿Por qué es importante aprender diferentes idiomas?</h2>
    </div>
    <div class="card-body">
      
      <p class="card-text m-3 text-center">Conocer otro idioma nos permite relacionarnos con personas de otros países, 
        nos da la posibilidad de vivir, estudiar o trabajar en el extranjero, además agiliza la memoria 
        y concentración, entre más idiomas vamos adquiriendo más habilidades de aprendizaje desarrollamos.</p>
      <a routerLink="cursos" class="btn btn-primary">Ver Cursos</a>
    </div>
    
</div>

<div class="card text-center" >
  
  <div class="card-body">
    <h3></h3>
    <p class="card-text m-3 text-center"></p>
  </div>
  
</div>