


<div class="cursos" *ngIf="mostrarComponente">
  
  <div class="row">
   
      <div class="card m-4 cardcursos" *ngFor=" let curso of newcursosService.cursos, let i = index">
      
        <div class="card-body ">
          {{i +1}}
          <h4>Curso de :   {{curso.name}}</h4>
          <p>ID:  {{curso.id}}</p>
          <p>Descripcion:  {{curso.description}}</p>
          <p>Duracion:   {{curso.duration}}</p>
          <button class="btn btn-primary"> Ver Más</button>
        </div>
      </div>
    </div>
</div>

